<!-- -------- START FOOTER 5 w/ DARK BACKGROUND ------- -->
<footer class="footer py-5 mt-5 bg-dark position-relative">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h6 class="text-white mb-lg-4 mb-3">Razis Apartments</h6>
            </div>
            <div class="col-lg-6 text-center">
                <ul class="nav flex-row align-items-center mb-5 mt-sm-0 justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/home" target="_blank">
                            <%= t('nav.home') %>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/rooms" target="_blank">
                            <%= t('nav.rooms') %>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-white" href="/terms-&-conditions" target="_blank">
                            <%= t('nav.terms') %>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white" href="/contact-us" target="_blank">
                            <%= t('nav.contact-us') %>
                        </a>
                    </li>
                </ul>
                <p class="mb-0 text-white">
                    Copyright ©
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                    Razis Apartments
                </p>
            </div>
            <div class="col-lg-3 text-end">
                <a href="https://www.facebook.com/razisapts" target="_blank" class="text-white me-xl-4 me-4">
                    <span class="fab fa-facebook text-lg"></span>
                </a>
                <a href="javascript:;" target="_blank" class="text-white me-xl-4 me-4">
                    <span class="fab fa-twitter text-lg"></span>
                </a>
                <a href="https://www.google.com/travel/hotels/s/fwp7B" target="_blank" class="text-white me-xl-4 me-4">
                    <span class="fab fa-google text-lg"></span>
                </a>
                <a href="https://github.com/xrazis/razis.com" target="_blank" class="text-white">
                    <span class="fab fa-github text-lg"></span>
                </a>
            </div>
        </div>
    </div>
</footer>
<!-- -------- END FOOTER 5 w/ DARK BACKGROUND ------- -->


<!--   Core JS Files   -->
<script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
<!--  Plugin for TypedJS, full documentation here: https://github.com/mattboldt/typed.js/ -->
<script src="../assets/js/plugins/typedjs.js"></script>
<!--  Plugin for Parallax, full documentation here: https://github.com/wagerfield/parallax  -->
<script src="../assets/js/plugins/parallax.min.js"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script src="../assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
<!--  Plugin for the GlideJS Carousel, full documentation here: http://kenwheeler.github.io/slick/ -->
<script src="../assets/js/plugins/glidejs.min.js" type="text/javascript"></script>
<!--  Plugin for the blob animation -->
<script src="../assets/js/plugins/anime.min.js" type="text/javascript"></script>
<!-- Chart JS -->
<script src="../assets/js/plugins/chartjs.min.js"></script>
<!-- Control Center foe Now UI Design System: parallax effects, scripts for the example pages etc -->
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDTTfWur0PDbZWPr7Pmq8K3jiDp0_xUziI"></script>
<script src="../assets/js/now-design-system-pro.min.js?v=2.1.0" type="text/javascript"></script>
<script src="../assets/js/plugins/tilt.min.js"></script>
</body>

</html>