<div class="py-lg-5 py-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="mb-1"><%= t('social-share.title') %></h4>
                <p class="lead mb-0"><%= t('social-share.subtitle') %></p>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-4 d-lg-flex align-items-center justify-content-end">
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://razis.com/"
                   class="btn btn-facebook mb-lg-0 mb-2 me-2"
                   target="_blank">
                    <i class="fab fa-facebook-square me-1"></i> Share
                </a>
                <a href="https://twitter.com/intent/tweet?text=Check out Razis Apartments!&url=https://razis.com/"
                   class="btn btn-twitter mb-lg-0 mb-2 me-2"
                   target="_blank">
                    <i class="fab fa-twitter me-1"></i> Tweet
                </a>
            </div>
        </div>
    </div>
</div>
