<%- include('../partials/html-top.ejs') %>
<%- include('../partials/nav.ejs') %>

<!-- -------- START HEADER 8 w/ card over right bg image ------- -->
<header>
    <div class="page-header min-vh-85">
        <div class="position-absolute border-radius-lg border-top-start-radius-0 border-top-end-radius-0 border-bottom-end-radius-0 fixed-top ms-auto w-50 h-100 z-index-0 d-none d-sm-none d-md-block"
             style="background-image: url('../../assets/img/contact1.jpg'); background-size:cover;">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-7 d-flex justify-content-center flex-column">
                    <div class="card card-body d-flex shadow-lg justify-content-center px-5 mt-lg-5 mt-3 py-5">
                        <h1 class="mb-0">Now UI Design - News</h1>
                        <h1 class="mb-4">Actualize dreams</h1>
                        <p class="lead pe-sm-5 me-sm-5">The time is now for it be okay to be great. People in this world
                            shun people for being nice. </p>
                        <h5 class="mt-3">Connect with us on</h5>
                        <div class="d-flex justify-content-start">
                            <a href="javascript:"><i class="fab fa-facebook text-facebook me-4 text-lg"></i></a>
                            <a href="javascript:"><i class="fab fa-instagram text-instagram me-4 text-lg"></i></a>
                            <a href="javascript:"><i class="fab fa-twitter text-twitter me-4 text-lg"></i></a>
                            <a href="javascript:"><i class="fab fab fa-pinterest text-pinterest text-lg"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- -------- END HEADER 8 w/ card over right bg image ------- -->

<!-- START Blogs w/ 3 images & quote & text -->
<section class="py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ms-auto me-auto">
                <h6 class="opacity-7 text-uppercase font-weight-bolder text-sm">The Idea</h6>
                <h3 class="title mb-4">Create a design system that can be used in any product available</h3>
                <p class="text-dark">
                    This is the paragraph where you can write more details about your product. Keep you user engaged by
                    providing meaningful information. Remember that by this time, the user is curious, otherwise he
                    wouldn't scroll to get here. Add a button if
                    you want the user to see more. We are here to make life better.
                    <br> <br>
                    And now I look and look around and there’s so many Kanyes I've been trying to figure out the bed
                    design for the master bedroom at our Hidden Hills compound... and thank you for turning my personal
                    jean jacket into a couture piece.
                    <br> <br>
                    The way to survive in modern society is to be an ascetic. It is to retreat from society. There’s too
                    much society everywhere you go…The only solution is turn it off.
                </p>
            </div>
        </div>
        <section class="py-7 position-relative">
            <div id="carousel-testimonials" class="carousel slide carousel-team">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-5 me-lg-auto position-relative">
                                    <h6 class="opacity-7 text-uppercase font-weight-bolder text-primary text-sm fadeIn4 fadeInBottom">
                                        First Step</h6>
                                    <h1 class="text-dark display-3 font-weight-bold fadeIn2 fadeInBottom">Give your
                                        best</h1>
                                    <p class="my-4 lead text-dark fadeIn2 fadeInBottom">
                                        Give your best to create something unique with high impact.
                                    </p>
                                </div>
                                <div class="col-md-5 ms-lg-auto">
                                    <div class="p-3">
                                        <img class="w-100 border-radius-md fadeIn2 fadeInBottom"
                                             src="../../assets/img/ivana.jpg" alt="First slide">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-5 me-lg-auto position-relative">
                                    <h6 class="opacity-7 text-uppercase font-weight-bolder text-primary text-sm fadeIn4 fadeInBottom">
                                        Second Step</h6>
                                    <h1 class="text-dark display-3 font-weight-bold fadeIn2 fadeInBottom">Plan your
                                        work</h1>
                                    <p class="my-4 lead text-dark fadeIn2 fadeInBottom">
                                        As we live, our hearts turn colder. Cause pain is what we go through.
                                    </p>
                                </div>
                                <div class="col-md-5 ms-lg-auto">
                                    <div class="p-3">
                                        <img class="w-100 border-radius-md fadeIn2 fadeInBottom"
                                             src="../../assets/img/kal-visuals.jpg" alt="Second slide">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-5 me-lg-auto position-relative">
                                    <h6 class="opacity-7 text-uppercase font-weight-bolder text-primary text-sm fadeIn4 fadeInBottom">
                                        Third Step</h6>
                                    <h1 class="text-dark display-3 font-weight-bold fadeIn2 fadeInBottom">Follow your
                                        dreams</h1>
                                    <p class="my-4 lead text-dark fadeIn2 fadeInBottom">
                                        The time is now for it to be okay to be great. People in this world shun people.
                                    </p>
                                </div>
                                <div class="col-md-5 ms-lg-auto">
                                    <div class="p-3">
                                        <img class="w-100 border-radius-md fadeIn2 fadeInBottom"
                                             src="../../assets/img/jordan-visuals.jpg" alt="Second slide">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-md-5 me-lg-auto position-relative">
                                    <h6 class="opacity-7 text-uppercase font-weight-bolder text-primary text-sm fadeIn4 fadeInBottom">
                                        Fourth Step</h6>
                                    <h1 class="text-dark display-3 font-weight-bold fadeIn2 fadeInBottom">Never give
                                        up</h1>
                                    <p class="my-4 lead text-dark fadeIn2 fadeInBottom">
                                        Everyone’s born confident, and everything’s taken away from you.
                                    </p>
                                </div>
                                <div class="col-md-5 ms-lg-auto">
                                    <div class="p-3">
                                        <img class="w-100 border-radius-md fadeIn2 fadeInBottom"
                                             src="../../assets/img/brooke.jpg" alt="Second slide">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="position-relative mt-n6">
                    <a class="carousel-control-prev text-dark position-absolute bottom-0 start-0"
                       href="#carousel-testimonials" role="button" data-bs-slide="prev">
                        <i class="fas fa-2x fa-chevron-left position-absolute start-0 ms-3"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next text-dark position-absolute bottom-0 start-0 ms-4"
                       href="#carousel-testimonials" role="button" data-bs-slide="next">
                        <i class="fas fa-2x fa-chevron-right"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="row mt-10">
                <div class="col-lg-3 col-6 mb-lg-0 mb-4">
                    <a href="javascript:" class="text-lg text-decoration-underline-hover text-primary h3 ps-3 active"
                       data-bs-target="#carousel-testimonials" data-bs-slide-to="0">
                        <span>01</span>
                        <span class="ms-2">Give your best</span>
                    </a>
                </div>
                <div class="col-lg-3 col-6 mb-lg-0 mb-4">
                    <a href="javascript:" class="text-lg text-decoration-underline-hover text-primary h3"
                       data-bs-target="#carousel-testimonials" data-bs-slide-to="1">
                        <span>02</span>
                        <span class="ms-2">Plan your work</span>
                    </a>
                </div>
                <div class="col-lg-3 col-6 mb-lg-0 mb-4">
                    <a href="javascript:" class="text-lg text-decoration-underline-hover text-primary h3"
                       data-bs-target="#carousel-testimonials" data-bs-slide-to="2">
                        <span>03</span>
                        <span class="ms-2"> Follow your dreams </span>
                    </a>
                </div>
                <div class="col-lg-3 col-6 mb-lg-0 mb-4">
                    <a href="javascript:" class="text-lg text-decoration-underline-hover text-primary h3"
                       data-bs-target="#carousel-testimonials" data-bs-slide-to="3">
                        <span>04</span>
                        <span class="ms-2"> Never give up </span>
                    </a>
                </div>
            </div>
        </section>
    </div>
    <div class="page-header min-vh-50" style="background-image: url('../../assets/img/bg21.jpg')">
        <span class="mask bg-dark opacity-6"></span>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ms-auto me-auto mt-7">
                <h6 class="opacity-7 text-uppercase font-weight-bold text-sm">Our effort</h6>
                <h3 class="mb-4">The powerfull design system</h3>
                <p class="text-dark">
                    The way to survive in modern society is to be an ascetic. It is to retreat from society. There’s too
                    much society everywhere you go…The only solution is turn it off.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- END Blogs w/ 3 images & quote & text -->

<!-- -------   START PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->
<div class="py-lg-5 py-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4 class="mb-1">Thank you for your support!</h4>
                <p class="lead mb-0">Delivering the best products</p>
            </div>
            <div class="col-lg-6 mt-lg-0 mt-4 d-lg-flex align-items-center">
                <a href="javascript:" class="btn btn-twitter mb-lg-0 mb-2 me-2">
                    <i class="fab fa-twitter me-1"></i> Twitter
                </a>
                <a href="javascript:" class="btn btn-facebook mb-lg-0 mb-2 me-2">
                    <i class="fab fa-facebook-square me-1"></i> Facebook
                </a>
                <a href="javascript:" class="btn btn-tumblr mb-lg-0 mb-2 me-2">
                    <i class="fab fa-tumblr me-1"></i> Tumblr
                </a>
                <a href="javascript:" class="btn btn-dribbble mb-lg-0 mb-2">
                    <i class="fab fa-dribbble me-1"></i> Dribbble
                </a>
            </div>
        </div>
    </div>
</div>
<!-- -------   END PRE-FOOTER 2 - simple social line w/ title & 3 buttons    -------- -->

<%- include('../partials/footer.ejs') %>