[submodule "public/assets"]
	path = public/assets
	url = git@github.com:xrazis/razis.com-assets.git
[submodule "public/libs/lightGallery"]
	path = public/libs/lightGallery
	url = git@github.com:xrazis/lightGallery.git
