<%- include('partials/html-top.ejs') %>
<%- include('partials/nav.ejs') %>

<section class="min-vh-95 d-flex justify-content-center align-items-center">
    <div class="container mt-7">
        <div class="row">
            <div class="col-lg-6 my-auto">
                <img class="img-fluid position-relative" src="/images/espa/banner-large-el.jpg" alt="espa-large-el">
            </div>
            <div class="col-lg-6 my-auto position-relative">
                <img class="img-fluid position-relative" src="/images/espa/banner-large-en.jpg" alt="espa-large-en">
            </div>
        </div>
    </div>
</section>
