#zakynthos-icons {
    min-height: 55vh;
}

.navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23344767' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #zakynthos-icons {
        min-height: 140vh;
    }
}

@media (max-width: 767.68px) {
    #zakynthos-icons {
        min-height: 100vh;
    }
}

@media (max-width: 575.98px) {
    #zakynthos-icons {
        min-height: 70vh;
    }
}
